  .serif {
    /* font: 20px/1.4 sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont,
             'avenir next', avenir,
             helvetica, 'helvetica neue',
             ubuntu,
             roboto, noto,
             'segoe ui', arial,
             sans-serif;      
  }

  @media (prefers-color-scheme: light) {
    body {
      background: white;
      color: black;
    }
    
    .black-70 {
      color: rgb(77, 77, 77)
    }

    .bg-pink, nav a:hover {
      background-color: #ff80cc;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      background: rgb(21, 20, 26)
    }
    
    .black-70 {
      color: rgb(255, 255, 254)
    }
    
    .bg-pink, nav a:hover {
      /* color: rgb(235, 89, 57); */
      /* background:none; */
      background-color: #D5008F;
    }

  }